fieldset{
	background: skyblue;
}
address{

	background-color: blueviolet;
}
textarea{
	background-color: palegoldenrod;

}


body{
	
	background: rgb(104,139,212);
background: radial-gradient(circle, rgba(104,139,212,0.27020314961922265) 1%, rgba(4,131,120,1) 91%); 

}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form_control{
	border: 2px solid black;
	width: 50%;
	display: flex;
	justify-content: center;
	text-align: center;
	margin-left: 25%;
	border-radius: 10px;
}

.content_div{

	justify-content: center;
	text-align: center;
}

.NameText{
	margin-top: 30px;

}
.btn{
	margin-bottom: 5px;
	margin-top: 5px;
}

.address{
	margin-bottom: 25px;
	margin-top: 10px;
}

.email{
	margin-bottom: 20px;
	margin-top: 18px;
}

.card{
	margin-top: 15px;
	margin-bottom: 15px;
}

.CVV{
	margin-top: 5px;
	margin-bottom: 5px;
}