fieldset{
	background: skyblue;
}
address{

	background-color: blueviolet;
}
textarea{
	background-color: gray;

}


body{
	
	background: rgb(104,139,212);
background: radial-gradient(circle, rgba(104,139,212,0.27020314961922265) 1%, rgba(4,131,120,1) 91%); 

}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}